* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  background: none;
  border: none
}

@font-face {
  font-family: "Product Sans";
  src: url(allfonts/ProductSans-Regular.ttf);
}

@font-face {
  font-family: "product Sans medium";
  src: url(allfonts/ProductSans-Medium.ttf);
}

@font-face {
  font-family: "Arial";
  src: url(allfonts/ARIAL.TTF);
}

body {
  background-color: white;
  font-family: "Product Sans";
}

/* ჰედერის ნავიგაცია */

header {
  max-width: 1200px;
  margin: auto;
  padding: 32px 30px;
}



.header-container {
  display: flex;
  gap: 70px;
}


.header-container .logo {
  display: flex;
  gap: 11px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  max-width: 196px;
  width: 100%;


}

.header-container .logo-name {

  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #091327;

}

.header-container nav {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-self: center;

}

.header-container ul {
  display: flex;
  gap: 52px;
  
}


.header-container ul li a {

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #3A4352;

}

.header-container .search-icon {
  cursor: pointer;
  color: rgba(255, 117, 113, 1);
}

.header-container ul li a:hover {
  color: rgba(255, 117, 113, 1);
}

.header-container .logo-name:hover {
  color: rgba(255, 117, 113, 1);
}

.header-container .search-icon:hover {
  color: rgba(255, 117, 113, 1);
}


.burger {
  display: none;
}
.mob-girl{
  display: none;
}
.mobile-logo-icon{
  display: none;
}
/* ვარდისფერი გოგოს სექცია */

.pink-girl {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-items: end;
  padding: 0px 30px;
}



.pink-girl .left h1 {

  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0em;
  color: rgba(9, 19, 39, 1);
  margin-bottom: 0;
  position: relative;
  z-index: 1;
}

.pink-girl .left p {

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  color: rgba(58, 67, 82, 1);
  margin: 32px 0 40px 0;
  position: relative;
  z-index: 1;


}

.btn-light {
  background-color: rgba(255, 117, 113, 1);
  font-family: "product Sans medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: 51px;
  top: 537px;
  display: inline-block;
  padding: 16px 24px;

  border: none;
  cursor: pointer;
  margin-bottom: 40px;


}

.pink-girl .left {

  width: 100%;
}

.pink-girl .right .right-image {
  max-width: 588px;
  padding-top: 0px;
  position: relative;
  z-index: 1;

}


.hero-section .bg {
  position: absolute;
  background-color: rgba(255, 235, 235, 0.35);
  top: 276px;
  left: 38.3%;

}

.pink-girl .left .btn-light:hover {
  opacity: 0.6;
}


/* კატეგორიების სექცია */

.categories {
  max-width: 1200px;
  margin: auto;
  padding: 30px 32px;
}

.categories-title {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 52px;

}

.categories-title h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(9, 19, 39, 1);


}

.categories-title p {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #6C727E;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, minmax(218px, 282px));
  justify-content: center;
  justify-items: center;
  gap: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: center;
  width: 100%;

}

.image-container {
  cursor: pointer;
  border: 1px solid rgba(9, 19, 39, 0.1);

}

.card .image-container {
  padding: 56px;
}

.card h3 {
  cursor: pointer;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 24px;
  color: #091327;
}

.card p {
  color: #4181fc;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 40px;
}

.card h3:hover {
  color: rgba(255, 117, 113, 1);
}

.card p:hover {
  opacity: 0.6;
  cursor: pointer;
}

.card .image-container:hover {
  zoom: 1.2;
  border-color: rgba(255, 117, 113, 1);
  ;
}


/* ამანათების სექცია */


.container-packages {
  display: flex;
  justify-content: space-around;
  max-width: 1140px;
  height: 371px;
  margin: auto;
  align-items: center;
  padding: 52px 120px;
  background-color: rgba(255, 188, 23, 0.1);
  margin-top: 99px;
  gap: auto;

}



.container-packages .packages-left h1 {

  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  color: rgba(9, 19, 39, 1);
  margin-bottom: 0;
  justify-content: center;
  width: 100%;


}

.container-packages .packages-left p {

  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #6C727E;
  padding: auto;
  align-items: center;
  justify-content: center;
  margin-top: 16px;


}

.container-packages .packages-left .btn-dark {
  background-color: rgba(65, 129, 252, 1);
  font-family: "product Sans medium";
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);
  width: 183px;
  height: 51px;
  top: 537px;
  display: inline-block;
  padding: 16px 24px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  margin-top: 24px;

}

.container-packages .packages-left {
  max-width: 416px;
  width: 100%;
}

.container-packages .packages-right img {
  max-width: 453px;
  padding-top: 0px;

}

.container-packages .packages-left .btn-dark:hover {
  opacity: 0.6;
}

/* პოპულარული ბრენდები */



.brands {
  max-width: 1200px;
  padding: 0 32px;
  margin: 120px auto;
  position: relative;

}

.section-brands {
  max-width: 1200px;
  padding: 30px 32px;
  margin: auto;
}

.brands-title {
  margin-bottom: 52px;
}

.brands-title h1 {
  color: #091327;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  Line-height: 43.67px;

}

.brands-title p {
  margin-top: 16px;
  color: #6C727E;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.brands-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(130px, 180px));
  justify-content: center;
  justify-items: center;
  gap: 40px 24px;
}

.brand-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: center;
  gap: 16px;
}

.brand-img-container {
  display: grid;
  width: 180px;
  height: 180px;
  padding: 45px;
  text-align: center;
  background: rgba(9, 19, 39, 0.03);
  align-items: center;
}

.brand-img-container img {
  width: 100%;
}

.brands-container .brand-container h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  Line-height: 21.83px;
  color: #091327;
  text-align: center;
}


.brands-button {
  align-items: center;
  padding: 16px 24px;
  border-radius: 4px;
  border: none;
  background-color: #4181fc;
  color: white;
  cursor: pointer;
  margin: 64px auto;
  max-width: 94px;
  width: 100%;
}

.brands-button .brands-btn {
  color: white;

}

.brands-button:hover {
  opacity: 0.6;
}

.brands-container .brand-container h4:hover {
  cursor: pointer;
  color: #4181fc;
}

.brand-img-container:hover {
  border: 1px solid #4181fc;
}

/* ვინ ვართ */

.who-we-are {
  max-width: 1200px;
  padding: 30px 32px;
  margin: auto;
  margin-top: 120px;
}

.who-we-are h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  color: #091327;

}

.who-we-are p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #3a4352;
  justify-content: center;
  align-items: center;
  justify-items: center;
  margin-top: 32px;

}

.who-we-are p:nth-child(1) {
  margin-top: 52px;

}

.who-we-are p:nth-child(2) {
  margin-top: 52px;

}



/* საკონტაქტო ინფოს სექცია */


.contact-us-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 400px));
  max-width: 1200px;
  margin: 151px auto 120px auto;
  padding: 52px 120px 0px 120px;
  height: 400px;
  background: rgba(65, 129, 252, 0.1);
  justify-content: center;

}

.contact-section {
  padding: 0px 32px 0 32px;


}

.contact-section h1 {
  color: #091327;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.operator {
  max-width: 536px;
  margin: auto;
  margin-top: -56px;
}

.mob-number {
  cursor: pointer;
  position: relative;
  margin-top: 32px;
  width: 328px;
  height: 52px;
  border: 2px solid #c2d2e2;
  padding: 12px;
}

.mob-number span {
  color: #a51078;
  font-family: Arial;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.mob-number .price-tag {
  position: absolute;
  right: 10px;
  top: -5px;
}

.mob-number p {
  position: absolute;
  top: 8px;
  color: white;
  right: 20px;
  font-size: 15px;

}

.mob-number h6 {
  position: absolute;
  top: 34px;
  color: white;
  right: 20px;
  font-size: 16px;

}

.call-button {
  cursor: pointer;
  width: 104px;
  height: 52px;
  margin-top: 30px;
  color: white;
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background-color: #4181fc;
}

.call-button:hover {
  opacity: 0.8;
}



/* footer */


footer {
  margin: auto;
  background: rgba(25, 41, 73, 1);
  max-width: 1920px;
}

/* პირველი სვეტი */

.footer-container {
  max-width: 1200px;
  margin: auto;
  align-items: center;
  justify-items: end;
  padding: 52px 0px;
}

.footer-container-rows {
  display: grid;
  grid-template-columns: 445px 246px 248px;
  height: auto;
  color: #fff;
  gap: 70px;
}

.footer-logo {
  display: flex;
  gap: 11px;
  justify-items: center;
  align-items: center;
  cursor: pointer;
  max-width: 196px;
  width: 100%;
}

.footer-container .logo-name {

  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.footer-about-contacter h3 {
  margin: 45px 0px 16px;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.footer-about-contacter p {

  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.footer-buttons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.footer-buttons img:hover {
  cursor: pointer;
  opacity: 0.6;
}

.footer-about-contacter img {
  cursor: pointer;
}

/* მეორე სვეტი */

.footer-popular-brands div {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer-popular-brands h3 {
  margin-bottom: 16px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.footer-popular-brands svg {
  stroke-width: 3px;
  stroke: rgba(255, 255, 255, 0.50);
}

.footer-popular-brands :nth-child(1) {
  margin-bottom: 24px;
}

.footer-popular-brands span {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.footer-popular-brands div:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* მესამე სვეტი */

.footer-visited-articles div {
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  cursor: pointer;
}

.most-visited-article div {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px 0px;

}

.most-visited-article div p {

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
  color: #fff;
  cursor: pointer;
}

.most-visited-article div span {
  Line-height: 16.98px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: rgba(255, 255, 255, 0.6);
}

.footer-visited-articles div:nth-child(4) {
  border-bottom: none;
}

.footer-visited-articles div:hover {
  border-bottom-color: rgba(65, 129, 252, 1);
}

.horizontal-line {
  margin-top: 64px;
  margin-bottom: 32px;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.horizontal-line:hover {
  background-color: rgba(65, 129, 252, 1);
}

/* footer-ის ნავიგაცია */

.footer-nav {
  display: flex;
  justify-content: space-between;
}

.footer-nav:last-child {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;

}

.footer-nav ul {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.footer-nav a {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.footer-nav a:hover {
  opacity: 0.8;
  color: rgba(65, 129, 252, 1);
}


/* media queries */

@media screen and (max-width: 1086px) {
  .brands-container {
    grid-template-columns: repeat(4, minmax(130px, 180px));
  }

  .brands-title {
    text-align: center;
  }
}
footer{
  padding-left: 30px;
  padding-right: 30px;
}
.container-packages div{
  padding:auto 30px auto 30px;
}

@media screen and (max-width: 1086px){
  .operator {
    max-width: 470px;

  }
}
@media screen and (max-width: 1125px){
  .container-packages { 
    max-width: 1000px;
    padding-left: 32px;
    padding-right: 32px;

  }

  .footer-container-rows{
  grid-template-columns: auto;
  }



}


@media screen and (max-width: 1100px) {
  .footer-container-rows {
    grid-template-columns: 390px 220px 200px;
    gap: 50px;
  }

  .footer-nav {
    gap: 10px;
  }
}

@media screen and (max-width: 960px) {
  .pink-girl {
    display: flex;
    flex-direction: column;
  }
  .pink-girl .left {
    width: 100%;
    align-items: center;
  }
  .pink-girl div h1 {
    max-width: 600px;
    font-size: 33px;
  }

  .pink-girl .right .right-image {
    max-width: 100%;

  }

  .card .image-container {
    padding: 30px;
  }

  .cards {
    grid-template-columns: repeat(3, minmax(166px, 222px));
    justify-content: center;
    gap: 24px;
  }

  .packages {
    height: auto;
  }

  .container-packages div:last-child {
    position: relative;
    top: 0;
    left: 0%;
  }

  .container-packages img {
    width: 75%;
    height: auto;
    float: right;
  }

  .container-packages {
    display: grid;
    grid-template-columns: 285px auto;
    align-items: center;
    justify-content: space-between;
  }

  .packages-left h1 {
    width: 300px;
    font-size: 34px;
  }

  .packages-left p {
    width: 300px;
  }

  .packages-right image {
    width: 400px;
  }

  .contact-us-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: auto;
    padding-bottom: 30px;
  }

  .operator {
      max-width: 100%;
      margin: auto;
      margin-top: -56px;
  }

  .footer-container .footer-container-rows {
    grid-template-columns: 420px 300px;
    gap: 40px;
  }

  .footer-nav a {
    font-size: 13px;
  }
}

@media screen and (max-width: 860px) {
  .header-container {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 805px) {
  .bar {
    gap: 25px !important;
  }

 

  .logo {
    width: 50px;
  }

  .cards {
    grid-template-columns: repeat(2, minmax(166px, 222px));
    justify-content: center;
    gap: 24px;
  }

  .container-packages div:last-child {
    left: -10%;
  }

  .container-packages {
    background-color: #ffbe1a1a;
    height: auto;
  }

  .container-packages {
    display: flex;
    flex-direction: column-reverse;
    align-content: space-between;
    align-items: center;
  }

  .brands-container {
    grid-template-columns: repeat(3, minmax(130px, 180px));
  }

  .brand-img-container {
    width: 160px;
    height: 160px;
  }

  .contact-us-container {
    padding: 30px;
  }

  .footer-container .footer-container-rows {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .footer-buttons {
    justify-content: space-around;
  }
}
@media screen and (max-width: 605px) {
  .pink-girl .right .right-img {
  max-width: 100%;
  }
  .operator{
    max-width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .header-container {
    gap: 2px;
  }

  .bar {
    gap: 15px !important;
  }

  .Bar ul li a {
    font-size: 15px !important;
  }

  .brands-container {
    grid-template-columns: repeat(2, minmax(130px, 180px));
  }

  .footer-nav {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav ul li a {
    font-size: 12px;
  }

  .footer-nav {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (max-width: 525px) {
  .header-container {
    display: flex;
    flex-direction: row;
  }
  .header-container .logo-name {
    font-size: 12px;
  }

.header-container nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    justify-self: center;
}
  .bar {
    display: none;
  }
  .logo-icon{
    display:none;
  }

  .mobile-logo-icon{
    display: block;
  }
  nav {
    justify-content: flex-end;
  }

  .burger {
    display: block;
  }

  .search-icon {
    display: none;
  }

  .logo-name {
    display: block;
    font-size: 11px;
  }

  .logo {
    gap: 10px;
    width: 100%;
  }

  .logo-icon {
    fill: #4181fc;
  }

  header {
    background-color: rgba(65, 129, 252, 0.05);
  }

  .main-container {
    width: auto;
    height: 840px;
    background-color: rgba(65, 129, 252, 0.05);
  }

  .main-container {
    opacity: 1;
  }

  .first-page .right .mob-girl{
    display: block;
  }
  .first-page {
    background-color: #f5f9ff;
    gap: 32px;
  }

  .first-page .right image {
    max-width: 100%;
  }

  .btn-light {
    background: #4181fc !important;
  }

  .first-page .right-image {
    display: none;
  }

  .cards {
    grid-template-columns: repeat(1, auto);
    justify-content: center;
  }

  .cards .image-container {
    padding: 81px;
  }

  .card {
    margin-bottom: 32px;
  }

  .brands-container {
    grid-template-columns: 180px;
  }

  .brand-img-container {
    width: 280px;
    height: 280px;
  }

  .brand-container h4 {
    font-size: 24px;
  }

  .mob-number {
    width: 300px;
  }

  .mob-number .price-tag {
    width: 34%;
  }

  .mob-number p {
    font-size: 13px;
    top: 12px;
    right: 12px;
  }

  .mob-number h6 {
    top: 31px;
    right: 16px;
    font-size: 13px;
  }

  .contact-section h1 {
    font-size: 34px;
  }

  .mob-number {
    height: 42px;
  }

  .mob-number span {
    font-size: 17px;
  }

  .mob-number .price-tag {
    position: absolute;
    right: 7px;
    top: -10px;
  }

  .first-page .right-img{
    display: none;
  }
  
  

  .footer-nav {
    display: flex;
    justify-content: space-around;
  }

  .footer-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

}

@media screen and (max-width: 437px) {
 .mob-girl{
  max-width: 100%;
 }
}

@media screen and (max-width: 437px) {
  .footer-nav ul{
   flex-direction: column;
 }

 .footer-buttons{
  flex-direction: column;
 }
}